<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Quickly Decode Base64 in your Browser!</a>
        </div>
      </div>
    </nav>
    <div class="container">
        <h1>Welcome!</h1>
        <p class="lead">Use this web app to quickly decode base64!</p>
        <p class="lead">To <b>decode</b>, add the path below to this website's url <br> &nbsp&nbsp&nbsp&nbsp/decode/(the base 64 encoded text you want to decode) <br> &nbsp&nbsp&nbsp&nbsp <i>ex. /decode/dGhpc2lzdGhldGV4dGRlY29kZWQ=</i></p>
        <p class="lead">To <b>encode</b>, add the path below to this website's url <br> &nbsp&nbsp&nbsp&nbsp/encode/(the text you want to encode in base64) <br> &nbsp&nbsp&nbsp&nbsp <i>ex. /encode/thisisthetexttobeencoded</i></p>
        
    </div>

</body>

</html>
